.squares{
    display: flex;

}
.one {
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 10px solid rgb(211, 122, 117);
    background: #98140E;
}
.two {
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 10px solid rgb(233, 241, 115);
    background: rgb(169, 180, 7);
}
.three {
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 10px solid rgb(143, 143, 209);
    background: blue;
}

body {
    padding-left: 30%;
    padding-right: 30%;
}