.one {
    height: 200px;
    width: 200px;
    border: 5px solid #98140E;
    background: #98140E;
}
.two {
    height: 200px;
    width: 200px;
    border: 5px solid #F6FF6E;
    background: #F6FF6E;
}
.three {
    height: 200px;
    width: 200px;
    border: 5px solid blue;
    background: blue;
}

body {
    padding-left: 50%;
    padding-right: 50%;
}